
<!-- Se um aluno for selecionado -->
<div *ngIf="alunoSelecionado">
    
    <div class="d-flex justify-content-between">
        <div>
            <app-titulo [titulo]="'Aluno: '+alunoSelecionado.id"></app-titulo>
        </div>
        <div class="mt-3">
            <button class="btn btn-outline-secondary btn-sm" (click)="voltar()">
                Lista de Alunos
            </button>
        </div>
    </div>

    <form class="m-5">
        <div class="mb-3">
            <label for="formGroupExampleInput" class="form-label">Nome</label>
            <input type="text" value="{{alunoSelecionado.nome}}" class="form-control">
        </div>
        <div class="mb-3">
            <label for="formGroupExampleInput2" class="form-label">Sobrenome</label>
            <input type="text" value="{{alunoSelecionado.sobrenome}}" class="form-control">
        </div>
        <div class="mb-3">
            <label for="formGroupExampleInput2" class="form-label">Telefone</label>
            <input type="text" value="{{alunoSelecionado.telefone}}" class="form-control">
        </div>
    </form> 

</div>
<!-- Se não tiver aluno selecionado -->
<div *ngIf="!alunoSelecionado">
    <app-titulo [titulo]="titulo"></app-titulo>

    <div class="container" style="margin-top: 50px;" >
        <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">Sobrenome</th>
                <th scope="col">Telefone</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let aluno of alunos" style="cursor: pointer;" (click)="alunoSelect(aluno)">
                <th scope="row">{{aluno.id}}</th>
                <td>{{aluno.nome}}</td>
                <td>{{aluno.sobrenome}}</td>
                <td>{{aluno.telefone}}</td>
              </tr>
            </tbody>
          </table>
    </div>
</div>
